@import "tailwindcss";

:root {
  --color-primary: #fcba03;
  --color-black: #121212;
  --color-gray-light: #e5e7eb;
  --color-background: #ffffff;
  --color-text-secondary: #4b5563;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
